* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 60rem;
}

header {
    display: flex;
    justify-content: space-between; /*Flex with space-between is useful for aligning items on either side of header */
    height: 4em;
    background-color: #6666ff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0000cc;
}

main {
    /* grid-column: span 9; */
}

h1 {
    margin: auto 0;
    font-size: 1.5em;
    color: white;
}

header h3 {
    align-self: center;
    margin-left: .7em;
    color: white;
}

.web {
    font-weight: bold;
}

.head-right {
    display: flex;
    align-content: center;
    margin: .9em;
}

.bell {
    align-self: center;
    margin: 0;
    padding-right: 1em;
    height: 70%;
    fill: white;
    transform-origin: 50% 0;
    transform-box: fill-box;
}

.bell:hover {
    animation: jingle .3s ease-in-out;
}

.notify {
    display: flex;
    border-right: 2px solid white;
}

@keyframes jingle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.nav-icon {
    display: flex;
    margin: 1em auto;
    width: 2em;
    fill: white;
}

/* .grid-main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
} */

.profile {
    margin-left: .7em;
    border-radius: 50%;

}

.alert {
    border: 2px solid black;

}

.traffic-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
