* {
    box-sizing: border-box;
}

body {
    margin: auto;
    max-width: 60rem;
    font-family: 'Open Sans';
}

header {
    display: flex;
    justify-content: space-between; /*Flex with space-between is useful for aligning items on either side of header */
    height: 4em;
    padding-left: 1em;
    background-color: rgb(112, 116, 185);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2em 0 2em;
    background-color: rgb(76, 76, 106);
}

main {
    padding: 1.5em 1.5em 0 1.5em;
}

h1 {
    margin: auto 0;
    font-size: 1.2rem;
    font-weight: lighter;
    color: white;
}

header h3 {
    align-self: center;
    margin-left: .7em;
    font-size: .7em;
    font-weight: lighter;
    color: rgba(255, 255, 255, .7);
}

h3 {

}

.web {
    font-size: 1.3rem;
}

.head-right {
    display: flex;
    align-content: center;
    margin: .9em;
}

.bell {
    align-self: center;
    margin: 0;
    padding-right: 1em;
    height: 70%;
    fill: white;
    transform-origin: 50% 0;
    transform-box: fill-box;
}

.bell:hover {
    animation: jingle .3s ease-in-out;
}

.notify {
    display: flex;
    border-right: 1px solid rgb(134, 137, 175);
}

@keyframes jingle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.nav-icon {
    display: flex;
    margin: 1em auto;
    width: 2em;
    fill: white;
}

/* .grid-main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
} */

.profile {
    margin-left: .7em;
    border-radius: 50%;

}

.alert {
    display: flex;
    align-items: center;
    padding: .6em;
    border-radius: 8px;
    background-color: rgb(112, 116, 185);

}

.alert h3 {
    margin: 0 3em 0 0;
    font-size: .9em;
    font-weight: lighter;
    color: rgba(255, 255, 255, .7);
}

.alert-close {
    height: fit-content;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.alert-close:hover {
    transform: scale(1.2);
}


.traffic-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.social {
    display: flex;
    align-items: center;
    border: 2px solid lightgrey;
    border-radius: 5px;

}

.media {
    margin: 0;
}

.media-stat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-icon {
    width: 50%;
    margin: auto;
    fill: white;
}

.icon-wrapper {
    display: flex;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: rgb(112, 116, 185);
}

section,
.member {
    border-bottom: 2px solid lightgrey;
}

.social,
.new-members,
.recent-activity {
    border-bottom: none;
}

.dash {
    display: flex;
    align-items: center;
    height: 4em;
    width: 40%;
    padding: 1em;
    border-right: 1px solid lightgrey;
    border-bottom: none;
}

.tab-bar {
    border-bottom: 1px solid lightgrey;
}